* {
  box-sizing: border-box;
}
body {
  background: #eee;
}
body, a, a:visited {
  color: #222;
}

/* Home */
#to-map {
  position: fixed;
  top: 5px;
  right: 5px;
  z-index: 999;
  font-size: 20px;
}

.home-background {
  background-size: cover;
  background-position: center;
  background-repeat:repeat;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.home-title {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  line-height: 100px;
  text-align: center;
  z-index: 99;
}

.home a,
.home a span {
  text-decoration: none;
}

.home .home-content {
  position: relative;
  width: 1200px;
  height: 100%;
  margin: auto;
  margin-top: 20px;
}

.home .title .main {
  position: absolute;
  top: 800px;
  left: 800px;
  display: block;
  font-family: TitleFont;
  font-size: 40pt;
}
.home .title .date {
  position: absolute;
  top: 390px;
  left: 705px;
  font-family: TitleFont;
  font-size: 10pt;
}
.home .title a {
  position: absolute;
  top: 450px;
  left: 680px;
  font-size: 10pt;
}

.home .thumbnail {
  position: absolute;
  text-align: center;
}

.home .thumbnail img {
  margin-bottom: 5px;
}

.home .thumbnail span {
  color: black;
  position: absolute;
  left: 0;
  width: 100%;
  font-size: 13pt;
  text-align: center;
  display: block;
  box-sizing: border-box;
}

/* Shadow Thumbnails */
.shadow-thumbnails .home {
  font-family: Verdana;
  font-size: 10pt;
  line-height: 1em;
}
.shadow-thumbnails .home span {
  color: #ccc;
  padding: 2px;
  box-sizing: border-box;
}
.shadow-thumbnails .home .thumbnail:not(.static-image) {
  box-shadow: 0 0 10px 2px #333;
}
.shadow-thumbnails .home a:hover img {
  box-shadow: 0 0 10px 4px #111;
}
.shadow-thumbnails .home .thumbnail span {
  color: #ccc;
  bottom: 0;
  width: 100%;
  background: #111;
  font-size: 13px;
  line-height: 15px;
  padding: 3px;
}
.shadow-thumbnails .home img {
  margin: 0;
  max-width: none;
}

/* Breadcrumb */
#breadcrumb {
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  top: 130px;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  background: #000;
  font-size: 16px;
}
#breadcrumb,
#breadcrumb a,
#breadcrumb a:visited {
  color: #ccc;
  text-decoration: none;
}
#breadcrumb a {
  opacity: 0.75;
}
#breadcrumb a:hover {
  opacity: 1;
}
#breadcrumb li {
  display: inline-block;
}
#breadcrumb li:first-child {
  font-size: 125%;
}
#breadcrumb li:not(:last-child):after {
  content: '>';
  padding: 0 10px;
  font-size: 75%;
  color: gold;
}

/* Content */
header {
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  height: 130px;
  line-height: 105px;
  text-align: center;
  padding: 20px 0 15px 0;
}
#chapitre {
  position: absolute;
  left: 20px;
  right: 20px;
  top: 180px;
  bottom: 0;
  padding-top: 10px;
  text-align: center;
}

#chapitre .titre-chapitre {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
}

#sous-chapitres a {
  display: block;
  margin: 15px 25%;
  padding: 5px 0;
  background: #ddd;
  font-size: 18px;
  opacity: 0.8;
}
#sous-chapitres a,
#sous-chapitres a:visited {
  text-decoration: none;
}
#sous-chapitres a:hover {
  opacity: 1;
}

/* Map */
#map {
  margin: 40px;
  padding: 20px;
  font-size: 10pt;
  background: #eee;
}

#map span {
  color: #aaa;
}

#map .map-save {
  border: 1px solid #333;
  background: white;
  margin-bottom: 20px;
  opacity: 0.6;
  padding: 5px;
}
#map .map-save:hover {
  opacity: 1;
}

#map li {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #ccc;
}
#map li > * {
  vertical-align: middle;
}

#map .map-indent-1 {
  padding-left: 40px;
}
#map .map-indent-2 {
  padding-left: 80px;
}
#map .map-indent-3 {
  padding-left: 120px;
}
#map .map-indent-4 {
  padding-left: 160px;
}
#map .map-indent-5 {
  padding-left: 200px;
}

#map span {
  color: #666;
}

#map input {
  border: none;
  margin-right: 10px;
  padding: 3px;
  background: #eee;
}
#map input:hover {
  background: #ddd;
}
#map input.map-titre {
  font-weight: bold;
  font-size: 110%;
  width: 400px;
}
#map input.map-coord {
  width: 60px;
}

#map li .map-action {
  visibility: hidden;
}
#map li:hover .map-action {
  visibility: visible;
}

#map .map-action {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  line-height: 20px;
  border: none; 
  padding: 0;
  color: #999;
  font-size: 125%;
}
#map button:hover {
  cursor: pointer;
  color: black;
}

#map .map-collapse,
#map .map-no-child {
  width: 14px;
  height: 14px;
}
#map .map-collapse {
  visibility: visible;
  line-height: 14px;
  border-radius: 0;
  border: 1px solid black;
  padding: 0;
  color: black;
  font-size: 100%;
}
#map .map-no-child {
  display: inline-block;
  background: #aaa;
}
