body {
  font-family: Segoe Print;
  font-size: 14pt;
  line-height: 2em;
  margin-left: 20px;
}



h1 {
  font-size: 25pt;
  font-weight: bold;
  padding-left: 40px;
  background-color:#B7EDF7;
  text-align:left;
}

h2 {
  font-size: 20pt;
  font-weight: bold;
  padding-left: 40px;
  background-color:#B7EDF7;
  text-align:left;
}

h3 {
  font-size: 16pt;
  font-weight: bold;
  padding-left: 40px;
  background-color:#B7EDF7;
  text-align:left;
}

figcaption {
font-weight: bold;


}

table {
width:100%;
left:auto;
border-style:solid;
border-color:blue;
border-width:2px;

}

tr {
background-color:white;
padding-top:100px;
padding-bottom:5px;
}


td{  
vertical-align:middle;
padding:10px;
border-style:solid;
border-color:grey;
border-width:1px;
height:10%;
}






img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
}




p {
  text-align: justify;
  text-indent: 40px;
   background-color:#DFF3F7;
   padding-right: 20px;
   padding-left: 20px;
 padding-top:30px;
 padding-bottom :30px;
 
}

 .border { border-width: 3px; border-color: blue; border-style: solid;
    margin: 0px;
	display: block;
    margin-left: auto;
    margin-right: auto; 
 }

.blanc {
   background-color:white;
   padding-right: 20px;
   padding-left: 20px;
}

.gras {
font-weight: bold;
text-decoration:underline;
}

.grassimple {
font-weight: bold;
}

 
p#bleu {
  color: blue;
}
/*-------------------------*/
.conteneur1  { 
 display: flex; 
justify-content:space-around; 

 }
 
 .conteneur0  { 
 display: flex; 


 }
 
._box {
	 text-align: center;
 }
 
 .box1 {
	  padding-top:100px;
	 vertical-align:middle;
	
	
 }
 
  .box20 {
	 align-items: center;
	 width:20%;
 }
 
 .box30 {
	 text-align: center;
	 width:30%;
	 padding-top:10px;
 }
 
.__box {
  display: block; /* Ensure block-level behavior */
  margin-left: auto;
  margin-right: auto;
}

.box  {
	 text-align: center;
	
 }
 
.box50 {
	 align-items: center;
	 width:50%;
	 padding-top:10px;
 }
 
 .box80 {
	 align-items: center;
	 width:80%;
 }

	
 
/*-------------------------*/ 
 .border { border-width: 3px; border-color: blue; border-style: solid;
margin: 2px;
 }

.cadregris {
 border:2px solid gray;
 padding-right: 20px;
 padding-left: 20px;
 padding-top:30px;
 padding-bottom :30px;
 }

.cadrebleu {
 border:2px solid blue;
 padding-right: 20px;
 padding-left: 20px;
 padding-top:30px;
 padding-bottom :30px;
 }

.centrer {
 text-align:center
 }
 
  .fond {
background-color:#8FFFFF;
border:1px dotted #CCCCCC;
margin:auto;
height:40px;
width:400px;
padding:50px;
}

  .fond1 {  
background-color:#8FFFFF;
border:1px dotted #CCCCCC;
margin:auto;
height:150px;
width:500px;
padding:auto;
}

  .fond2 {  
background-color:#8FFFFF;
border:1px dotted #CCCCCC;
margin:auto;
height:100px;
width:1500px;
padding:auto;
}

 .decor {

    background: silver;
}

  .retrait{
  
    margin-left:150px;
    background: silver;
    border:2px solid gray;
    padding-right: 20px;
    padding-left: 200px;
    padding-top:30px;
    padding-bottom :30px;
    
}

.image-block {
  text-align: center;
  margin: 30px auto;
}
.image-block figcaption {
  font-size: 0.9em;
  color: #555;
  margin-top: 8px;
}
  
  
 .styled-img {
  max-width: 100%;       /* image responsive */
  height: auto;
  border-radius: 12px;   /* coins arrondis */
  box-shadow: 0 4px 12px rgba(0,0,0,0.15); /* ombre douce */
  margin: 20px auto;     /* centrage vertical */
  display: block;        /* pour centrer avec margin auto */
}

 
     .gallery {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      gap: 20px;
      max-width: 1200px;
      margin: auto;
    }
	
	 .gallery1 {
   display: flex;
   flex-wrap: wrap;
   padding:5px;
   justify-content: space-evenly;
}  

    figure {
      background: white;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      overflow: hidden;
      cursor: pointer;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    figure:hover {
      transform: scale(1.03);
      box-shadow: 0 8px 20px rgba(0,0,0,0.25);
    }

    figure img {
      width: 100%;
      height: auto;
      display: block;
    }

    figcaption {
      padding: 10px;
      font-size: 0.9em;
      text-align: center;
      color: #555;
    }

  .ombre { box-shadow: 0 4px 12px rgba(0,0,0,0.15);}

.ombre1 { box-shadow: 0 4px 12px rgba(0,0,0,0.30);}

.ombre2 { box-shadow: 0 4px 12px rgba(10,0,0,0.30);}

.ombre3 {box-shadow: 10px 5px 5px blue;}

.ombre4 { box-shadow: 0 4px 12px black;}


.top {bottom:20px;}

.vertical {vertical-align: 50px;}
	