_hetm/*
videos/*

chefs/*
itineraires/*
mesautos/*
tdf/*

7_guerrevincent/*
2014/*
2015/*
2016/*
2017/*
2018/*
2019/*
2020/*
2021/*
domiciles_site/*
eve/*
itineraires_r2/*
mg/*
r1/*
tdf-saisie/*
ve/*

**/contenu/pages/*

**/.buildpath
**/.project
**/angular/i18n/*

