**/.idea/*

_hetm/*
archives_J/*
espace/Espace Exploration/*
espace/espace_exploration/*
pays*/*
roadbook/*
souvenirs/*
trans/*
videos/*

chefs/*
itineraires/*
mesautos/*
tdf/*
tdfng/*

2014/*
2015/*
2016/*
2017/*
2018/*
2019/*
2020/*
2021/*
2022/*
2023/*

domiciles_site/*
domiciles_site_new/*
domiciles_site_new_contenu/*
eve/*
itineraires_r2/*
mg/*
r1/*
tdf-saisie/*
ve/*

**/contenu/pages/*
**/contenu/bd/*

**/.buildpath
**/.project
**/angular/i18n/*

5_fmp/Francois Marius Payan doc sonore/*

**/* - Copie.*
**/* - Copie (2).*
**/* - Copie (3).*
