@font-face {
  font-family: "Sansation_Regular";
  src: url('Sansation_Regular.ttf');
}

* {
  box-sizing: border-box;
}

body {
  background: url(background.jpg) no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: Sansation_Regular;
  overflow: hidden;
}

h1,
.title,
.sites > li {
  background: rgba(20, 20, 20, 0.65);
}
h1,
a,
a:visited,
.categories {
  color: #eee;
  text-decoration: none;
}

/* Header */
h1 {
  margin: 0;
  width: 100%;
  height: 90px;
  text-align: right;
  padding: 30px 120px 0 0;
  box-sizing: border-box;
  font-size: 45pt;
  position: fixed;
}
#icon {
  position: absolute;
  right: 20px;
  top: 15px;
  background: url(icon.png) no-repeat;
  width: 80px;
  height: 87px;
  opacity: 0.6;
}
#search {
  position: absolute;
  left: 20px;
  top: 25px;
  background: url(search.png) no-repeat;
  width: 40px;
  height: 40px;
  opacity: 0.6;
}

/* Categories */
.categories {
  position: absolute;
  overflow: visible;
  right: 25px;
  top: 115px;
  bottom: 10px;
  list-style-type: none;
  text-align: center;
  width: 765px;
  margin: 0;
  padding: 0;
  text-align: right;
  font-size: 12pt;
}
.categories > li {
  margin-bottom: 15px;
}
.categories .title {
  padding: 2px 10px;
  margin-bottom: 5px;
}

/* Sites */
.sites {
  padding: 0;
}
.sites > li {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 80px;
  border-radius: 5px;
  margin: 0 1px;
}
.sites > li:hover {
  opacity: 0.8;
  -webkit-filter: contrast(160%);
}
.sites a {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70%;
}

.sites .tooltip {
  display: none;
  z-index: 99;
  position: absolute;
  top: -35px;
  left: 50%;
}
.sites .tooltip .center {
  position: relative;
  left: -50%;
  background: #111;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 10pt;
  text-align: center;
  padding: 5px 10px;
}
.sites .tooltip .center:after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: calc(50% - 10px);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #111 transparent transparent transparent;
}
.sites > li:hover .tooltip {
  display: block;
}

/* Titles */
#voyages .title {
  width: 376px;
  margin-left: 386px;
}
#albums .title {
  width: 604px;
  margin-left: 159px;
}
#deumeurant .title {
  width: 376px;
  margin-left: 386px;
}
#carle .title {
  width: 570px;
  margin-left: 193px;
}

/* Icons */
#albums li {
	width: 45px;
	height: 45px;
}
#albums a {
	color: black;
	text-align: center;
	font-size: 20pt;
	font-weight: bold;
	padding-top: 8px;
}

#eve {
  background-image: url(eve.png);
}
#r1 {
  background-image: url(r1.png);
}
#souvenirs {
  background-image: url(souvenirs.png);
}
#itineraires {
  background-image: url(itineraires.png);
}
#ve {
  background-image: url(ve.png);
}
#tdf {
  background-image: url(tdf.png);
}
#mg {
  background-image: url(mg.png);
  background-size: 90%;
}
#fmp {
  background-image: url(fmp.png);
}
#vp {
  background-image: url(fmp.png);
}
#autos {
  background-image: url(autos.png);
}
#espace {
  background-image: url(espace.png);
}
#rosine {
  background-image: url(rosine.png);
}
#andre {
  background-image: url(andre.png);
} 
#barles {
  background-image: url(barles.png);
} 
#francois {
  background-image: url(francois.png);
} 
#chefs {
  background-image: url(chefs.png);
}
#guerrevincent {
  background-image: url(guerrevincent.png);
}
#vpnew {
  background-image: url(vpnew.png);
}
#geneatree {
  background-image: url(geneatree.png);
}
#rue_guerin {
  background-image: url(rue_guerin.png);
}
#chronique {
 background-image: url(chronique.png);
}
#famille {
 background-image: url(famille.png);
}
#archives {
 background-image: url(archives.png);
}
#nicolas {
  background-image: url(nicolas.png);
}
#lemesle {
  background-image: url(lemesle.png);
}
#sthippolyte {
  background-image: url(sthippolyte.png);
}
#florian {
  background-image: url(florian.png);
}
#aj {
  background-image: url(aj.png);
}
#pays {	
  background-image: url(pays.png);
}
#h_et_m  {
  background-image: url(hm.png);
}
#castelin  {
  background-image: url(castelin.png);
}
#nogier  {
  background-image: url(nogier.png);
}
#jean_et_leo {
  background-image: url(jean_et_leo.png);
}


