body {
  font-family: Segoe Print;
  font-size: 14pt;
  line-height: 2em;
}

h1 { 
 font-size: 22pt;  
 font-weight: bold;  
 padding-left: 40px;  
 background-color:#011a44;
 color: #eee;
 height:70px;
 line-height:70px;
}





h2 {
 border:2px solid gray;
  font-size: 22pt;
  font-weight: bold;
  margin-left: 100px;
  text-align:left;
  background-color:#DFF3F7;
}


h3 {
  font-size: 18pt;
  font-weight: bold;
   text-align:center;
  background-color:white;
  border-bottom:3px solid aqua;
}
img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  
}






td {
  vertical-align: middle;
  padding:20px;
}

p {
  text-align: justify;
  text-indent: 40px;
  padding: 20px ;
   background-color:#DFF3F7;
   font-weight:bold;
   padding-top:auto;
 padding-bottom :auto;
 vertical-align:middle;
}

.normal {
	font-weight:normal;
}


td p {
  padding-left: 20px;
  padding-right: 20px;
}

table {
	margin: 0 auto;
	background:white;
	}

.bleu {
	font-weight:bold;
    color:blue;
}

.black {
	color: black;
}

 .decor {

    background: silver;
	 text-align:left;
	 margin-left: 800px;
	 margin-right: 800px;
	 vertical-align:middle;
}



.cadregris {
 border:5px solid gray;
  padding-right: 20px;
 padding-left: 20px;
 padding-top:30px;
 padding-bottom :30px;
 

 }

.cadrebleu {
 border:2px solid blue;
 }

.fondbleu {
 border:2px solid blue;
 background:21BCFF;
 }
 
 
.border {
 border:3px solid blue;
 }
 
 
.centrer {
 text-align:center;
 }
 
 .reduc60 {
 width:60%;
 }
 


   
   .gras {
   font-style: italic;
   font-weight: bold;
  
   }
   
   

   
   
   .bordure {
    border :5px solid silver;
    padding-right:10px;
    padding-bottom: 10px
   }

/*-------------------------*/
 .gallery1 {
   display: flex;
   flex-wrap: wrap;
   padding:5px;
   justify-content: space-evenly;
}

 .conteneur  { 
 display: flex; 
justify-content:space-around; 
 }

.conteneur1  { 
 display: flex; 
justify-content:space-around; 
align-items: center; /* alignement vertical */
 }
 
.conteneur2 { 
 display: flex;
 flex-direction: row; 
 justify-content:space-around;
 }
 
_.box {
	   display: flex;
       column-gap: 20px;
}
 
 .box20 {
	 align-items: center;
	 width:20%;
 }
 
  .box30 {
	 align-items: center;
	 width:30%;
 }
 
.box50 {
	 align-items: center;
	 width:50%;
 }

.box1 {
	flex-grow:0;
	flex-basis:1;
}

.ombre { box-shadow: 0 4px 12px rgba(0,0,0,0.15);}

.ombre1 { box-shadow: 0 4px 12px rgba(0,0,0,0.30);}

.ombre2 { box-shadow: 0 4px 12px rgba(10,0,0,0.30);}

.ombre3 {box-shadow: 10px 5px 5px blue;}


   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   

   