body {
  font-family: Segoe Print;
  font-size: 14pt;
  line-height: 2em;
}



h1 {
  font-size: 26pt;
  font-weight: bold;
  padding-left: 40px;
   background-color:#B7EDF7;
   height:70px;
}

h2 {
  font-size: 22pt;
  font-weight: bold;
  padding-left: 40px;
  background-color:#B7EDF7;
  text-align:left;
}


h3 {
  font-size: 18pt;
  font-weight: bold;
  padding-left: 40px;
  background-color:#B7EDF7;
  text-align:left;
}

h4 {
  font-size: 16pt;
  font-weight: bold;
  padding-left: 200px;
  background-color:  white
 ;
  text-align:left;
}

td{  
vertical-align:middle;
padding:20px;
border:solid 1px black;
}

.td1{  
width:30%;
}

table {
border:1px;	
text-align:left;
background-color:white;		
}

_table {
width:100%;
left:auto;
border-color:blue;
border-style:solid;
border-width:1px;
}





img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
}




p {
  text-align: justify;
  text-indent: 40px;
   background-color:#DFF3F7;
   padding-right: 20px;
   padding-left: 20px;
 padding-top:30px;
 padding-bottom :30px;
}

.blanc {
   background-color:white;
   padding-right: 20px;
   padding-left: 20px;
}

.gras {
font-weight: bold;
text-decoration:underline;
}

.grassimple {
font-weight: bold;
}

 
p#bleu {
  color: blue;
}
/*-------------------------*/
.conteneur1  { 
 display: flex; 
justify-content:space-around; 
 }
 
 .conteneur  { 
 display: flex; 
justify-content:space-around; 
 }
 
.box {
	 align-items: center;
	 width:40%;
 }
 
 .box20 {
	 align-items: center;
	 width:20%;
 }
 
 .box30 {
	 text-align: center;
	 width:30%;
	 padding-top:10px;
 }
 }
 
.box50 {
	width:50%;
	 inline-size:70%;
	 align-items: space-around;
 }

.box1 {
	flex-grow:0;
	flex-basis:1;
}


 
/*-------------------------*/ 
 .border { border-width: 3px; border-color: blue; border-style: solid;
margin: 0px;
	display: block;
    margin-left: auto;
    margin-right: auto }
 }

.cadregris {
 border:2px solid gray;
 padding-right: 20px;
 padding-left: 20px;
 padding-top:30px;
 padding-bottom :30px;
 }

.cadrebleu1 {
 border:2px solid blue;
 padding-right: 20px;
 padding-left: 20px;
 padding-top:30px;
 padding-bottom :30px;
 }

.cadrebleu { 
 border:2px solid blue; 
 padding-right: 0px; 
 padding-left: 0px; 
 padding-top:0px; 
 padding-bottom :0px;
  background-color:#B7EDF7;
 }
 }
.centrer {
 text-align:center
 }
 
  .fond {
background-color:#8FFFFF;
border:1px dotted #CCCCCC;
margin:auto;
height:40px;
width:400px;
padding:50px;
}

  .fond1 {  
background-color:#8FFFFF;
border:1px dotted #CCCCCC;
margin:auto;
height:150px;
width:500px;
padding:auto;
}

  .fond2 {  
background-color:#8FFFFF;
border:1px dotted #CCCCCC;
margin:auto;
height:100px;
width:1500px;
padding:auto;
}

 .decor {

    background: silver;
}

  .retrait{
  
    margin-left:150px;
    background: silver;
    border:2px solid gray;
    padding-right: 20px;
    padding-left: 200px;
    padding-top:30px;
    padding-bottom :30px;
    
}
  
 .gallery1 {
   display: flex;
   flex-wrap: wrap;
   padding:5px;
   justify-content: space-evenly;
} 
  
  