/* Background */
body {
	background: url(background.png);
}
.home-background {
  background: url(background.png);
}

.home-title:before,
header:before {
  background-image: url(../../style/lemesle.png);
}

/* Sous-chapitres */
#sous-chapitres a {
  background: #D8D9E9;
}
