body {
  font-family: Segoe Print;
  font-size: 14pt;
  line-height: 2em;
}



h1 {
  font-size: 26pt;
  font-weight: bold;
  padding-left: 40px;
   background-color:#B7EDF7;
   height:70px;
   line-height:70px;
}

h2 {
  font-size: 22pt;
  font-weight: bold;
  padding-left: 40px;
  background-color:#B7EDF7;
  text-align:left;
}


h3 {
  font-size: 18pt;
  font-weight: bold;
  padding-left: 40px;
  background-color:#B7EDF7;
  text-align:left;
}

img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
}




p {
  text-align: justify;
  text-indent: 40px;
   background-color:#DFF3F7;
   padding-right: 20px;
   padding-left: 20px;
 padding-top:30px;
 padding-bottom :30px;
}

.blanc {
   background-color:white;
   padding-right: 20px;
   padding-left: 20px;
}


 
p#bleu {
  color: blue;
}



.cadregris {
 border:2px solid gray;
 padding-right: 20px;
 padding-left: 20px;
 padding-top:30px;
 padding-bottom :30px;
 }

.cadrebleu {
 border:2px solid blue;
 padding-right: 20px;
 padding-left: 20px;
 padding-top:30px;
 padding-bottom :30px;
 }

.center {
 text-align:center
 }
 
  .fond {
background-color:#8FFFFF;
border:1px dotted #CCCCCC;
margin:auto;
height:40px;
width:400px;
padding:50px;
}



 .decor {

    background: silver;
}

  .retrait{
  
    margin-left:150px;
    background: silver;
    border:2px solid gray;
    padding-right: 20px;
    padding-left: 200px;
    padding-top:30px;
    padding-bottom :30px;
    
}
  
 td{  
vertical-align:middle;
padding:20px;
border:solid 1px black;
text-align:center;
}



table {
width:100%;
left:auto;
border-color:black;
border-style:solid;
border-width:1px;
background-color:#DFF3F7;
} 
  
  
  .conteneur  { 
       position:absolute; 
       top:30%;
 }
 
   .conteneur1  { 
 display: flex; 
justify-content:space-around; 

 }
 
   .cadre1 { 
 border:3px solid blue;
 padding-left: 5px; 
  }
 
 
.box {
	 margin:auto;
	 width:50%;
 }
 
 .box400 {
	 margin:auto;
	 width:40%;
 }
  .box30 {
	 align-items: center;
	 width:30%;
	 vertical-align:middle;
 }
 .box50 {  
 
position:absolute; 
       top:30%;
width:50%;
}

.boxgauche {
	position:absolute;
   left :0px;	
	}
 
  .border { border-width: 3px; border-color: blue; border-style: solid;

}

 .border1 { border-width: 3px; border-color: silver; border-style: solid;

}

  