@font-face {
  font-family: "TitleFont";
  src: url('transformers.ttf');
}

.home-background {
  background: url(background.jpg);
}

header,
.home-title {
  font-family: TitleFont;
  font-size: 90px;
  color: #eee;
  text-shadow: 2px 2px 4px #8BC9E3;
  letter-spacing: 5px;
}
.home-title {
  
}
header {
  background: url(header.png);
}